@media screen and (min-width: 321px) {
	.burger{
		display: none;
	}
	nav,section{
		max-width: 1440px;
		margin: auto;
	}
	header{
		background: none;
		padding: 0;
	}
	nav{
		position: static;
		height: auto;
		padding: 0;
		background: none;
		display: flex;
		justify-content: center;
		box-shadow: 0px 0.5px 0px #DDDFE6;
		font-size: 16px;
	}
	.nav_link{
		padding: 38px 0 38px 50px;
		height: auto;
		line-height: normal;
		width: auto;
	}
	#welcome{
		display: flex;
	}
	.hello,.welcome_img{
		width: 50%;
	}
	.welcome_img img{
		width: 100%;
		height: 100%;
	}
	.hello{
		padding: 192px 90px 192px 160px;
		background: url(../images/image_dots.png) no-repeat;
		background-position: 100% 100%;
		background-size: 175px;
	}
	.hello h1{
		font-size: 80px;
	}
	.click{
		width: 254px;
		height: 70px;
		font-size: 18px;
	}
	.hello p{
		padding: 60px 0;
	}

/**  Projects section start  **/
	
	#projects{
		display: grid;
		grid-template-columns: 50% 50%;
		
	}

/**  About section start  **/

	#about{
		display: flex;
		padding: 160px;
		align-items: stretch;
	}
	.about_cv,.about_title{
		width: 50%;
		display: flex;
		flex-wrap: wrap;
	}
	.about_title{
		order: 2;
		padding: 30px 96px;
	}
	.about_title h2{
		font-size: 110px;
	}
	.about_cv{
		background: url(../images/image_dots_with_teal.svg) no-repeat;
		background-position: 100% 100%;
		order: 1;
	}
	.about_lang{
		width: 50%;
		height: 300px;
		margin: 0;
		padding: 50px;
	} 

/**  Contact section start  **/

	#contact{
		padding: 135px 442px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-image: none;
		background-image: url(../images/image-geometry_7.svg),url(../images/image-geometry_6.svg);
		background-position: 100% 100%, 0 0;
	}
	#contact h2{
		font-size: 110px;
	}
	.get_start, .form_msg{
		width: 548px;
	}
	.form_msg{
		display: flex;
		flex-wrap: wrap;
	}
	.form_msg div:first-child input{
		margin-right: 35px;
	}
	.form_msg span,.form_msg input{
		display: block;
		width: 254px;
	}
	.form_msg span{
		color: #7D7C84;
		padding: 4px;
	}
	.form_msg textarea{
		width: 100%;
		height: 140px;
	}

/**  Footer start  **/

	footer section{
		display: flex;
	}
	.sotsial{
		width: 40%;
		padding: 48px 0 48px 160px;
		margin: 0;
	}
	.resume{
		width: 60%;
		background-position: 36% 69%;
		padding: 48px 0 48px 160px;
	}
	footer a{
		font-size: 24px;		
	}
}