@media screen and (min-width: 321px) {
	button{
		cursor: pointer;
	}
	.burger{
		display: none;
	}
	nav,section{
		max-width: 1440px;
		margin: auto;
	}
	header{
		background: none;
		padding: 0;
	}
	nav{
		position: static;
		height: auto;
		padding: 0;
		background: none;
		display: flex;
		justify-content: center;
		box-shadow: 0px 0.5px 0px #DDDFE6;
		font-size: 16px;
	}
	.nav_link{
		padding: 38px 0 38px 50px;
		height: auto;
		line-height: normal;
		width: auto;
	}

/* Welcome section start */

	#welcome{
		display: flex;
	}
	.hello,.welcome_img{
		width: 50%;
	}
	.welcome_img img{
		width: 100%;
		height: 100%;
	}
	.hello{
		padding: 192px 90px 192px 160px;
		background: url(../images/image_dots.png) no-repeat;
		background-position: 100% 100%;
		background-size: 175px;
	}
	.hello h1{
		font-size: 80px;
	}
	.click{
		width: 254px;
		height: 70px;
		font-size: 18px;
	}
	.hello p{
		padding: 60px 0;
	}

/* Project section start */

	#projects{
		display: grid;
		grid-template-rows: 558px 350px 465px 270px;
		grid-template-columns: 465px 335px 640px;
		background-image: url(../images/image_dots.png);
		background-repeat: no-repeat;
		background-position: 295px 50px;
		transition: .3s ease-in-out;
	}
	#projects h2{
		transform: rotateZ(-90deg);
		position: relative;
		bottom: 280px;
		left: -50px;
		font-size: 110px;	
	}
	.card{
		background-color: #fff;
		overflow: hidden;
	}
	.card:nth-child(2){
		grid-column: 2/span 2;
	}
	.card:nth-child(3){
		grid-column: 1/span 2;
	}
	.card:nth-child(5){
		grid-column: 1/span 2;
	}
	.card:nth-child(7){
		grid-column: 1/span 3;
	}

/* Card 1 start */

	.card:nth-child(2) .card_img{
		width: 975px;
		height: 558px;	
	}
	.card:nth-child(2) img{
		width: 100%;
	}

	.card:nth-child(2) .card_title{
		height: 353px;
		padding: 60px;
		position: relative;
		bottom: 353px;
		transform: translateY(355px);
		background-color: #1a2236d3;
		transition: .3s ease-in-out;
	}
	.card:nth-child(2) .card_title h3{
		font-weight: bold;
		font-size: 60px;
		line-height: 80%;
	}
	.card:nth-child(2) .know{
		display: block;
	}
	.card:nth-child(2) .know button{
		padding: 12px 20px;
		font-size: 20px;
		line-height: 80%;
		margin: 34px 20px 60px auto;
	}
	.card:nth-child(2) .see{
		font-size: 18px;
		line-height: 27px;
		background-color: #fff;
		color: #1A2236;
	}
	
/* Card 2 start */




/* About section start */

	#about{
		display: flex;
		padding: 160px;
		align-items: stretch;
	}
	.about_cv,.about_title{
		width: 50%;
		display: flex;
		flex-wrap: wrap;
	}
	.about_title{
		order: 2;
		padding: 30px 96px;
	}
	.about_title h2{
		font-size: 110px;
	}
	.about_cv{
		background: url(../images/image_dots_with_teal.svg) no-repeat;
		background-position: 100% 100%;
		order: 1;
	}
	.about_lang{
		width: 50%;
		height: 300px;
		margin: 0;
		padding: 50px;
	} 

/* Contact section start */

	#contact{
		padding: 135px 442px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-image: none;
		background-image: url(../images/image-geometry_7.svg),url(../images/image-geometry_6.svg);
		background-position: 100% 100%, 0 0;
	}
	#contact h2{
		font-size: 110px;
	}
	.get_start, .form_msg{
		width: 548px;
	}
	.form_msg{
		display: flex;
		flex-wrap: wrap;
	}
	.form_msg div:first-child input{
		margin-right: 35px;
	}
	.form_msg span,.form_msg input{
		display: block;
		width: 254px;
	}
	.form_msg span{
		color: #7D7C84;
		padding: 4px;
	}
	.form_msg textarea{
		width: 100%;
		height: 140px;
	}

/* Footer start */

	footer section{
		display: flex;
	}
	.sotsial{
		width: 40%;
		padding: 48px 0 48px 160px;
		margin: 0;
	}
	.resume{
		width: 60%;
		background-position: 36% 69%;
		padding: 48px 0 48px 160px;
	}
	footer a{
		font-size: 24px;		
	}
}